@model DepositListViewModel

<div class="pos-f-t">
    <nav class="collapse form-inline bg-secondary" id="navbarToggleExternalContent">
        <form asp-action="ProcessData" method="post" class="form-row col-6">
            <select class="custom-select my-1 mr-2" name="actionId">
                <option value="0">Export to</option>
                <option value="1">Import from</option>
            </select>
            <input name="filePath" id="filePath" placeholder="Enter file path..." class="w-50 my-1 mr-2 align-middle" />
            <button type="submit" class="btn btn-primary my-1 mr-2">
                Submit
            </button>
        </form>
        <a asp-action="Create" class="btn btn-primary my-1 mr-2">Add Deposit</a>
    </nav>
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle my-1 mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bank
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @await Component.InvokeAsync("BankMenu")
            </div>
        </div>
    </nav>
</div>

@foreach (var d in Model.Deposits)
{
    <div>
        <div class="d-flex flex-row align-items-center">
            <h3 class="my-1 mr-2">@d.Bank.Name (@d.InterestRate% | @d.InitialFund (@d.Currency) )</h3>
            <form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-sm btn-warning my-1 mr-2" asp-route-depositId="@d.DepositId">
                    Edit
                </a>
                <input type="hidden" name="depositId" value="@d.DepositId" />
                <button type="submit" class="btn btn-danger btn-sm my-1 mr-2">
                    Delete
                </button>
            </form>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    @foreach (var i in d.Incomes)
                    {
                        <td class="text-center">
                            @i.Key.Month/@i.Key.Year
                        </td>

                    }
                </tr>
                <tr>
                    @foreach (var i in d.Incomes)
                    {
                        <td class="text-right">
                            @i.Value
                        </td>

                    }
                </tr>
            </tbody>
        </table>
    </div>
}